:root {
    --transparent9: rgba(0, 0, 0, .90);
    --light: hsl(0, 0%, 92%);
    --dark: hsl(0, 0%, 12%);

    --background: var(--light);
    --tiles-size: 100px;
    --mark-size: calc(var(--tiles-size) * .9);
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}

body {
    min-height: 100vh;
    background-color: var(--background);
}

body, button {
    font-family: monospace, monospace;
}

button {
    border-radius: 4px;
}

.home, .setting {
    min-height: 100vh; 
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.home.hide {
    display: none;
}

.home h1 {
    font-size: 4rem;
    margin: .5rem 0;
    color: var(--dark);
}

.home h1 span::before {
    content: '-';
}

.home button, 
.setting button {
    cursor: pointer;
    font-size: 2.5rem;
    padding: .25rem;
    color: white;
    border: 1px solid white;
    background-color: black;
    outline: none;
}

.icon {
    font-size: 3rem;
}

.middle {
    vertical-align: middle;
}

.home button:hover, 
.home button:focus-visible,
.setting button:hover,
.setting button:focus-visible {
    color: black;
    border: 1px ridge black;
    background-color: white;
}

.home button:hover, 
.home button:focus-visible {
    border-radius: 50%;
    border-style: solid;
    transition: .2s;
}

.setting {
    display: none;
}

.setting.show {
    display: flex;
}

.setting h2 {
    font-size: 3rem;
    text-decoration: underline;
}

.setting button {
    margin: .25rem;
    width: 275px;
}

.board {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    display: none;
}

.board.show {
    display: grid;
}

.tiles {
    width: var(--tiles-size);
    height: var(--tiles-size);
    border: 1px solid black; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tiles:first-child, 
.tiles:nth-child(2),
.tiles:nth-child(3) {
    border-top: none;
}

/* 3n === (3x0(n)=0, 3x1(n)=3, 3x2(n)=6, 
3x3(n)=9) and so on. means 3n + 3 = (3)(6)(9)... */
.tiles:nth-child(3n + 3){
    border-right: none;
}

.tiles:last-child, 
.tiles:nth-child(8),
.tiles:nth-child(7) {
    border-bottom: none;
}

.tiles:nth-child(3n + 1){
    border-left: none;
}

.tiles.x, .tiles.o {
    cursor: not-allowed;
}

.tiles.x::before,
.tiles.x::after,
.tiles.o::before,
.tiles.o::after {
    background-color: black;
}

.board.x-turn .tiles:not(.x):not(.o):hover::before,
.board.x-turn .tiles:not(.x):not(.o):hover::after,
.board.o-turn .tiles:not(.x):not(.o):hover::before,
.board.o-turn .tiles:not(.x):not(.o):hover::after {
    background-color: lightgray;
}

.tiles.x::before,
.tiles.x::after,
.board.x-turn .tiles:not(.x):not(.o):hover::before,
.board.x-turn .tiles:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.tiles.x::before,
.board.x-turn .tiles:not(.x):not(.o):hover::before {
    transform: rotate(45deg);
}

.tiles.x::after,
.board.x-turn .tiles:not(.x):not(.o):hover::after {
    transform: rotate(-45deg);
}

.tiles.o::before,
.tiles.o::after,
.board.o-turn .tiles:not(.x):not(.o):hover::before,
.board.o-turn .tiles:not(.x):not(.o):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.tiles.o::before,
.board.o-turn .tiles:not(.x):not(.o):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.tiles.o::after,
.board.o-turn .tiles:not(.x):not(.o):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: var(--light);
}

.game-menu {
    position: fixed;
    right: 0;
    left: 0;
    padding: .5rem;
    display: none;
}

.game-menu button {
    float: right;
    cursor: pointer;
    border: none;
    background-color: var(--light);
    color: gray;
}

.game-menu button:hover,
.game-menu button:focus-visible {
    outline: none;
    color: black;
}

.game-menu.show {
    display: block;
}

.match-result-container {
    display: none;
    position: fixed;
    inset: 0;
    background-color: var(--transparent9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.match-result-container .action-button {
    display: flex;
}

.match-result-container .action-button button {
    cursor: pointer;
    margin: .25rem;
    background-color: white;
    border: 1px solid black;
}

.match-result-container .action-button button:hover, 
.match-result-container .action-button button:focus-visible {
    color: white;
    background-color: black;
    border: 1px solid white;
}

.match-result-container.show {
    display: flex;
    text-align: center;
}

.close-menu-button {
    float: right;
    position: absolute;
    top: .5rem;
    right: .5rem;
    background-color: rgba(0, 0, 0, .0)!important;
    color: white;
    border: none!important;
    outline: none;
    display: none;
}

.close-menu-button:hover,
.close-menu-button:focus-visible {
    color: gray!important;
}

.close-menu-button.show {
    display: inherit;
}

@media only screen and (max-width: 500px) {
    :root {
        --tiles-size: 80px;
    }
    .home h1 {
        font-size: 2.5rem;
    }
    .setting h2 {
        font-size: 2rem;
    }
    .match-result-container {
        font-size: 3rem;
    }
    .icon,
    .home button,
    .setting button {
        font-size: 1.7rem;
    }
    .setting button {
        width: 191px;
    }
}

@media only screen and (max-height: 300px)
and (orientation:landscape) {
    :root {
        --tiles-size: 70px;
    }
    .match-result-container {
        font-size: 2.5rem;
    }
    .icon,
    .home button,
    .setting button {
        font-size: 1.7rem;
    }
}